body{
    background:url(images/bg-pattern-top-desktop.svg)  , url(images/bg-pattern-bottom-desktop.svg) ;
    background-repeat: no-repeat , no-repeat;
    /* background-size: 1000px , 1000px; */
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }    
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between ;
  margin-left: 150px;
  margin-right: 150px;
  
 

}
.grid__upper{
  display: flex;
  /* border: solid 1px; */
  align-items: center;
  height: 50%;
  color: hsl(300, 43%, 22%);

}
.content__description{
  /* border: solid 1px; */
  margin: 10px;
  width: 60%;
  height: 80%;
  
}
.content__headline{
  width: 40%;
  font-weight: 800;
}
.content__text{
  font-size: 12px;
  width: 50%;
  line-height: 1.5em;
}

.content__raiting{
  /* border: solid 1px; */
  width: 40%;
  height: 50%;
  margin-right: 10px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.rated{
  border: solid hsl(300, 24%, 96%)  0.8px;
  border-radius: 8px;
  background-color: hsl(300, 24%, 96%)  ;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  font-size: 12px;
  width: 300px;
}
.rated:nth-of-type(1){
  align-self: flex-start;
}
.rated:nth-of-type(2){
  align-self: center;
}
.rated:nth-of-type(3){
  align-self: flex-end;
}
 .one__star{
  height: 12px;
  width: 12px;
}
.text{
  width: 160px;
}
/* --------------------------------------------------- */
/* The bottom Grid Style */
/* --------------------------------------------------- */
.grid__bottom{
  /* border: solid 1px green; */
  height: 50%;
  display: flex;
  justify-content: space-between;
  
}
.box {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  /* padding: 2%; */
  background-color:  hsl(300, 43%, 22%);
  color: white;
  width: 28%;
  height: 60%;
  border-radius: 5px;
  margin-bottom: 60px;
}
.box img{
  display: inline-block;
  border-radius: 50px;
  width: 40px;
}
.box-content{
  display: flex;
}
.box-text{
  margin-top: 15px;
  display: flex;
  align-content: center;
  line-height: 1.2em;
  }
.client-name-status{
  display: inline;
}

.client-name-status p{
  /* display:flex; */
  font-size: 0.85em;
  margin-left: 20px;
  margin-top: 0.6em;
  line-height: 0.4em;
}
.client-name{
  font-weight:700 ;
}
.client-status{
  color: hsl(333, 80%, 67%);
}
.box:nth-of-type(1){
  align-self: flex-start;
}
.box:nth-of-type(2){
  align-self: center;
}
.box:nth-of-type(3){
  align-self: flex-end;
}